body {
	background: #91dafb
}

.principal{
	background: #caeaef
}

ul {
	display: inline-block;
	vertical-align: top;
	width: 50%;
	margin: right: 15%
}

.Formas{
	background: #caeaef;
}